PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cerdasberkarakter
DB_USER=postgres
DB_PASSWORD=ganti_dengan_password_postgres_anda
SESSION_SECRET=ganti_dengan_string_acak_minimal_32_karakter
JWT_SECRET=ganti_dengan_string_acak_minimal_32_karakter
NODE_ENV=development