PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cerdasberkarakter
DB_USER=postgres
DB_PASSWORD=ganti_dengan_password_postgres_anda
SESSION_SECRET=rahasia_super_aman_cerdas_berkarakter_2024
NODE_ENV=development